.playerWrapper{
    height: 100%;
    width: 100%;
}
.vjs-loading-spinner {
  display: none !important;
}

.customVideoPlayer{
    padding-top: 100px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.videoCard {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    /* border: 1px solid black */
    line-height: 0;
  }
  .videoCard__player {
    object-fit: cover;
    width: 100vw;
    height: 100%;
  }
  video {
    width: 100%;
    min-height: 100%;
  }
  